In [1]:
import pandas as pd
import numpy as np

In [16]:
df_tahsilat = pd.read_csv(
    "tahsilat.csv",
    sep=";",
    encoding="utf-8",
    low_memory=False
)

In [13]:
df_tahakkuk = pd.read_csv(
    "tahakkuk_hamamozu.csv",
    sep=";",
    encoding="utf-8",
    on_bad_lines="skip",
    low_memory=False
)

df_tahakkuk_1 = pd.read_csv(
    "tahakkuk_gumushacikoy.csv",
    sep=";",
    encoding="utf-8",
    on_bad_lines="skip",
    low_memory=False
)

df_tahakkuk_2 = pd.read_csv(
    "tahakkuk_goynucek.csv",
    sep=";",
    encoding="utf-8",
    on_bad_lines="skip",
    low_memory=False
)

df_tahsilat_1 = pd.read_csv(
    "tahsilat_1.csv",
    sep=";",
    encoding="utf-8",
    on_bad_lines="skip",
    low_memory=False
)

In [17]:
print(f"Tahsilat: {df_tahsilat.shape}")
print(f"Tahsilat 1: {df_tahsilat_1.shape}")
print(f"Tahakkuk (Hamamözü): {df_tahakkuk.shape}")
print(f"Tahakkuk 1 (Gümüşhacıköy): {df_tahakkuk_1.shape}")
print(f"Tahakkuk 2 (Göynücek): {df_tahakkuk_2.shape}")

Tahsilat: (636993, 9)
Tahsilat 1: (917632, 22)
Tahakkuk (Hamamözü): (124818, 10)
Tahakkuk 1 (Gümüşhacıköy): (765657, 10)
Tahakkuk 2 (Göynücek): (295223, 10)

In [18]:
df_tahsilat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  object
 5   Nakit Tahsilat         523 non-null     object
 6   Mahsuben Tahsilat      7542 non-null    object
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 43.7+ MB

In [19]:
df_tahsilat.describe()

       Söz.hsp.(bağımsız)  Kredi Kartı Tahsilatı
count        6.369930e+05                    0.0
mean         5.019884e+09                    NaN
std          2.884435e+09                    NaN
min          1.758320e+05                    NaN
25%          2.532887e+09                    NaN
50%          5.008502e+09                    NaN
75%          7.525722e+09                    NaN
max          9.999600e+09                    NaN

In [20]:
df_tahsilat.head()

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
0,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2023-11-06 00:00:00,NaN,"8648,95",NaN,NaN
1,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-06-26 00:00:00,NaN,"762,4",NaN,NaN
2,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-07-10 00:00:00,NaN,"311,6",NaN,NaN
3,PTT,PTT/PV,TAŞOVA,4254955886,2023-01-19 00:00:00,NaN,NaN,NaN,"130,5"
4,PTT,PTT/PV,TAŞOVA,4254955886,2023-02-17 00:00:00,NaN,NaN,NaN,117

In [21]:
df_tahsilat_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  object
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  object
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  object
 8   Son Ödeme (1)                         20902 non-null   object
 9   Son Ödeme (2)                         21664 non-null   object
 10  Son Ödeme (3)                         18893 non-null   object
 11  Son Ödeme (4)                         16995 non-null   object
 12  Son Ödeme (5)                         7323 non-null    object
 13  Son Ödeme (6-10)                      45708 non-null   object
 14  Son Ödeme (10-20)                     48281 non-null   object
 15  Son Ödeme (20-30)                     29005 non-null   object
 16  Son Ödeme (30-60)                     23030 non-null   object
 17  Son Ödeme (60-90)                     7184 non-null    object
 18  Son Ödeme (90-120)                    3820 non-null    object
 19  Son Ödeme (120-150)                   2302 non-null    object
 20  Son Ödeme (150-180)                   1551 non-null    object
 21  Son Ödeme (180+)                      4827 non-null    object
dtypes: int64(1), object(21)
memory usage: 154.0+ MB

In [22]:
df_tahsilat_1.head()

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
0,OCK 2023,AMASYA,GÖYNÜCEK,9374624783,Mesken,"5,03","0,03",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN
1,OCK 2023,AMASYA,GÖYNÜCEK,236184905,Mesken,"26,46","0,06","26,4",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OCK 2023,AMASYA,GÖYNÜCEK,9657731015,Mesken,"121,53",NaN,NaN,NaN,"121,53",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OCK 2023,AMASYA,GÖYNÜCEK,9554442880,Mesken,"117,49",NaN,"117,49",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OCK 2023,AMASYA,GÖYNÜCEK,6031642522,Mesken,"170,3","170,3",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_tahsilat_1.describe()

       Söz.hsp.(bağımsız)
count        9.176320e+05
mean         5.010893e+09
std          2.883691e+09
min          1.758320e+05
25%          2.513721e+09
50%          5.009565e+09
75%          7.509497e+09
max          9.999760e+09

In [25]:
df_tahakkuk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124818 entries, 0 to 124817
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 124818 non-null  object
 1   ilce               124818 non-null  object
 2   sozlesme_hesap_no  124818 non-null  int64
 3   mali_yil_donem     124818 non-null  object
 4   fatura_tarihi      124818 non-null  object
 5   kayit_tarihi       124818 non-null  object
 6   vade_tarihi        124818 non-null  object
 7   hesap_sinifi       124818 non-null  object
 8   Hesap Sınıfı       124818 non-null  object
 9   kwh                124818 non-null  object
dtypes: int64(1), object(9)
memory usage: 9.5+ MB

In [26]:
df_tahakkuk.describe()

       sozlesme_hesap_no
count       1.248180e+05
mean        5.044916e+09
std         2.874544e+09
min         2.903944e+06
25%         2.577471e+09
50%         5.027442e+09
75%         7.594090e+09
max         9.991894e+09

In [27]:
df_tahakkuk.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,"1,79"
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,"2,6"
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,"1,23"
3,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,"2,56"
4,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,"1,35"

In [28]:
df_tahakkuk_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765657 entries, 0 to 765656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 765657 non-null  object
 1   ilce               765657 non-null  object
 2   sozlesme_hesap_no  765657 non-null  int64
 3   mali_yil_donem     765657 non-null  object
 4   fatura_tarihi      765657 non-null  object
 5   kayit_tarihi       765657 non-null  object
 6   vade_tarihi        765657 non-null  object
 7   hesap_sinifi       765657 non-null  object
 8   Hesap Sınıfı       765657 non-null  object
 9   kwh                765657 non-null  object
dtypes: int64(1), object(9)
memory usage: 58.4+ MB

In [29]:
df_tahakkuk_1.describe()

       sozlesme_hesap_no
count       7.656570e+05
mean        5.019916e+09
std         2.881724e+09
min         2.561140e+05
25%         2.519995e+09
50%         5.030422e+09
75%         7.517065e+09
max         9.998331e+09

In [30]:
df_tahakkuk_1.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-01-11,2023-03-06,2023-01-23,M001,Mesken,"21,85"
1,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,"44,5"
2,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,"22,25"
3,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,"45,71"
4,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,"25,4"

In [31]:
df_tahakkuk_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295223 entries, 0 to 295222
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 295223 non-null  object
 1   ilce               295223 non-null  object
 2   sozlesme_hesap_no  295223 non-null  int64
 3   mali_yil_donem     295223 non-null  object
 4   fatura_tarihi      295223 non-null  object
 5   kayit_tarihi       295223 non-null  object
 6   vade_tarihi        295223 non-null  object
 7   hesap_sinifi       295223 non-null  object
 8   Hesap Sınıfı       295223 non-null  object
 9   kwh                295223 non-null  object
dtypes: int64(1), object(9)
memory usage: 22.5+ MB

In [32]:
df_tahakkuk_2.describe()

       sozlesme_hesap_no
count       2.952230e+05
mean        4.950566e+09
std         2.887724e+09
min         1.118550e+06
25%         2.432854e+09
50%         4.928206e+09
75%         7.475616e+09
max         9.997185e+09

In [33]:
df_tahakkuk_2.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2023-01-14,2023-03-06,2023-01-24,M001,Mesken,"0,1"
1,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,"0,12"
2,AMASYA,GÖYNÜCEK,9374624783,2023-02-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,"0,2"
3,AMASYA,GÖYNÜCEK,9374624783,2023-03-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0
4,AMASYA,GÖYNÜCEK,9374624783,2023-04-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,"0,08"

In [35]:
hamamozu_musteri = df_tahakkuk["sozlesme_hesap_no"].nunique()
gumushacikoy_musteri = df_tahakkuk_1["sozlesme_hesap_no"].nunique()
goynucek_musteri = df_tahakkuk_2["sozlesme_hesap_no"].nunique()

print("Hamamözü:", hamamozu_musteri)
print("Gümüşhacıköy:", gumushacikoy_musteri)
print("Göynücek:", goynucek_musteri)

Hamamözü: 2981
Gümüşhacıköy: 18190
Göynücek: 7128

In [36]:
print("Hamamözü:", df_tahakkuk.shape[0])
print("Gümüşhacıköy:", df_tahakkuk_1.shape[0])
print("Göynücek:", df_tahakkuk_2.shape[0])

Hamamözü: 124818
Gümüşhacıköy: 765657
Göynücek: 295223

In [37]:
df_tahakkuk["ilce"] = "Hamamözü"
df_tahakkuk_1["ilce"] = "Gümüşhacıköy"
df_tahakkuk_2["ilce"] = "Göynücek"

In [38]:
df_tahakkuk_all = pd.concat(
    [df_tahakkuk, df_tahakkuk_1, df_tahakkuk_2],
    ignore_index=True
)

In [39]:
print("Birleşik Tahakkuk:", df_tahakkuk_all.shape[0])
df_tahakkuk.shape[0] + df_tahakkuk_1.shape[0] + df_tahakkuk_2.shape[0]

Birleşik Tahakkuk: 1185698

1185698

In [41]:
df_tahakkuk_all["ilce"].value_counts()

ilce
Gümüşhacıköy    765657
Göynücek        295223
Hamamözü        124818
Name: count, dtype: int64

In [45]:
df_tahakkuk_all["kwh"] = pd.to_numeric(
    df_tahakkuk_all["kwh"],
    errors="coerce"
)

In [46]:
df_tahakkuk_all["kwh"].isna().sum()

np.int64(1119311)

In [47]:
df_tahakkuk_all[df_tahakkuk_all["kwh"] < 0].shape

(2, 10)

In [50]:
df_kwh_valid = df_tahakkuk_all[
    (df_tahakkuk_all["kwh"].notna()) &
    (df_tahakkuk_all["kwh"] >= 0)
]

df_kwh_valid.shape

(66385, 10)

In [51]:
df_kwh_valid["kwh"].describe()

count    66385.000000
mean        23.694118
std        520.990925
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      55341.000000
Name: kwh, dtype: float64

In [52]:
tablo = (
    df_kwh_valid
    .groupby("hesap_sinifi")["kwh"]
    .agg(
        ortalama_kwh="mean",
        medyan_kwh="median",
        std_kwh="std",
        kayit_sayisi="count"
    )
    .reset_index()
)

tablo

   hesap_sinifi  ortalama_kwh  medyan_kwh      std_kwh  kayit_sayisi
0             3    277.906542         0.0  1988.291931           107
1             4    204.994220         0.0  2306.444365           173
2             6      0.000000         0.0     0.000000            69
3             7      0.000000         0.0     0.000000            13
4          A001     16.285714         5.5    27.109623            70
5          A002      0.000000         0.0     0.000000             5
6          A003      8.500000         0.0    17.000000             4
7          M001      9.986200         0.0    33.073754         57462
8          M002     17.218097         0.0    50.549619           431
9          M003      1.309677         0.0     9.761153           155
10         M004      0.965517         0.0     4.121549            87
11         M006      3.640000         0.0    16.126743            50
12         M007     30.285714         0.0    57.881241             7
13         M008      5.000000         5.0          NaN             1
14         M009      0.000000         0.0     0.000000             9
15         S001    563.960000         0.0  2819.800000            25
16         SE01     66.928571        56.5    67.587484            42
17         T001     62.581911         0.0   731.034929          3925
18         T002     19.049763         0.0   154.223378           422
19         T003      1.300000         0.0     2.983287            10
20         T006     13.294118         0.0    40.761141            17
21         T007      0.500000         0.0     1.581139            10
22         T008    155.511628         0.0   856.838986           129
23         T009    448.000000         0.0  2468.112049            36
24         T010    111.000000        80.0    68.022055             3
25         T012   1062.123596         0.0  4302.552395            89
26         T013     53.897541         0.0   234.861473           244
27         T017     72.000000        72.0     0.000000            10
28         T019    331.905782         0.0  2323.020133           467
29         T020     94.000000         9.0   144.320477             6
30         T021     17.180556         0.5    30.107005            72
31         TA01    117.019037         0.0  1964.905972          1786
32         TA02    384.012618         0.0  2878.263776           317
33         TA03    229.850000         0.0  1118.103549            80
34         TA04     56.923077         0.0   252.241547            52